################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XamarinFormsGridView/v14/.suo
/packages
/XamarinFormsGridView/XamarinFormsGridView.Android/XamarinFormsGridView.Android.csproj.user
/XamarinFormsGridView/XamarinFormsGridView.UWP/obj/x86/Debug
/XamarinFormsGridView/XamarinFormsGridView/obj/Debug
/XamarinFormsGridView/XamarinFormsGridView/bin/Debug
/XamarinFormsGridView/XamarinFormsGridView.iOS/obj/iPhone/Debug
/XamarinFormsGridView/XamarinFormsGridView.UWP/bin/x86/Debug
/XamarinFormsGridView/XamarinFormsGridView.iOS/bin/iPhone/Debug
/XamarinFormsGridView/XamarinFormsGridView.iOS/bin/iPhoneSimulator/Debug
/XamarinFormsGridView/XamarinFormsGridView.iOS/obj/iPhoneSimulator/Debug
/XamarinFormsGridView/XamarinFormsGridView.iOS/XamarinFormsGridView.iOS.csproj.user
/XamarinFormsGridView/XamarinFormsGridView.Android/obj/.cache/XamarinFormsGridView.Android.flag
/.vs/XamarinFormsGridView/v15/.suo
/XamarinFormsGridView/XamarinFormsGridView/MyTemplateSelector.cs
/XamarinFormsGridView/XamarinFormsGridView/MyTemplateSelector.cs
/XamarinFormsGridView/XamarinFormsGridView.UWP/obj/ARM/Debug
/XamarinFormsGridView/XamarinFormsGridView.UWP/obj
/.vs/XamarinFormsGridView/v15/sqlite3
/XamarinFormsGridView/XamarinFormsGridView.Android/XamarinFormsGridView.Android.csproj.bak
/Plugin.GridViewControl/Plugin.GridViewControl/bin
/Plugin.GridViewControl/Plugin.GridViewControl/obj
/Plugin.GridViewControl/Plugin.GridViewControl.Android/bin
/Plugin.GridViewControl/Plugin.GridViewControl.Android/obj
/Plugin.GridViewControl/Plugin.GridViewControl.iOS/bin
/Plugin.GridViewControl/Plugin.GridViewControl.iOS/obj
/Plugin.GridViewControl/Plugin.GridViewControl.UWP/bin
/Plugin.GridViewControl/Plugin.GridViewControl.UWP/obj
/XamarinFormsGridView/XamarinFormsGridView/bin/Release
/XamarinFormsGridView/XamarinFormsGridView/obj/Release
/XamarinFormsGridView/XamarinFormsGridView.Android/bin
/XamarinFormsGridView/XamarinFormsGridView.Android/obj
/XamarinFormsGridView/XamarinFormsGridView.iOS/obj/iPhone/Release
/XamarinFormsGridView/XamarinFormsGridView.UWP/Backup
/XamarinFormsGridView/XamarinFormsGridView.iOS/obj/iPhoneSimulator/Release
/XamarinFormsGridView/XamarinFormsGridView.UWP/bin/x86/Release
/.vs/XamarinFormsGridView/v15/Server/sqlite3
/Plugin.GridViewControl/.vs/Plugin.GridViewControl/v15
/XamarinFormsGridView/XamarinFormsGridView/obj
/.vs/XamarinFormsGridView/DesignTimeBuild/.dtbcache
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
